.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: whitesmoke;
  margin-bottom: 10px
}

.header2 {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: whitesmoke;
  margin-bottom: 10px
}

.header3 {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: whitesmoke;
  margin-bottom: 10px;
  margin-top: 50px;
}

.linkStyles {
  background-color: rgb(53, 133, 115);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.prevBtn {
  background-color: rgb(91, 121, 133);
  align-items: center;
}

.nextBtn {
  background-color: rgb(91, 121, 133);
  align-items: right;
  justify-content: right;
}

.favBtn {
  background-color: rgb(24, 124, 40);
}

.allQuotesContainer {
  margin-top: 10px;
}

.filter {
  display: right;
  background-color: rgb(243, 145, 33);
}

.quoteCard {
  background-color: rgb(101, 177, 101);
}

.authorText {
  color: rgb(71, 60, 60);
}

.randomQuote {
  margin-top: 300px;
}

.image {
  width: 320px;
}

.image2 {
  width: 450px;
  height: 570px;
}

.image3 {
  width: 320px;
  height: 570px;
}

.allImages {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}